<!DOCTYPE html>
<html>
<head>
	<title>Highscore - dmp-project</title>

	<style>
		#title{
			text-align: center;
		}
		#form{
			text-align: center;
		}
		.user-info{
			text-align: center;
		}
		.error{
			color: red;
		}
		h2 {
			display: inline;
		}
	</style>

	<script>
		function load_score() {
			if (parseInt(sessionStorage.score) > 0) {
				document.getElementById('score').value = sessionStorage.score;
				document.getElementById('score-visible').innerHTML = sessionStorage.score;
			}
			else {
				document.getElementById('form').style.visibility="hidden";
			}
		}

		function submitted() {
			if (document.getElementById('user_input').value.length > 0) {
				sessionStorage.score = "0";
			}
		}

	</script>

</head>

<body onload="load_score()">

	<h1 id="title">DMP-PROJECT - Highscore</h1>
	<br>

	<form method="post" id="form" onsubmit="submitted()">
		<h2 id="username">Username:
		<input type="text" id="user_input" name="username-input" value="{{username}}"></h2><br>
		<h2>Score: <h2 id="score-visible"></h2></h2><br>
		<input type="hidden" id="score" name="score-value">
		<input type="submit">
		<div class="error">{{error}}</div>
	</form>

	<hr>
	{% for s in scores %}
		<div class="user-info">
				<h2>Username: {{s.username}}, Score: {{s.score}}</h2><br>
		</div>
	{% endfor %}

</body>

</html>