<html>
<head>
	<title>Dmp-project</title>
</head>

<body>
	<script src="../js/lib/three.min.js"></script>
	<script src="../js/lib/rendermanager.js"></script>
	<script src="../js/lib/ShaderParticles.js"></script>
	<script src="../js/lib/ShaderParticleEmitter.js"></script>
	<script src="../js/lib/ShaderParticleGroup.js"></script>
	<script src="../js/lib/ShaderParticleUtils.js"></script>

	<!--Font for three.js-->
	<script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
	
	<script src="../js/game.js"></script>
	<script src="../js/controls.js"><</script>
	<script src="../js/song.js"></script>
	<script src="../js/graphics.js"></script>
	<script src="../js/menu.js"></script>
	<script src="../js/initialize.js"></script>
	<audio src="../audio/BlindArchitectKansasCityDecapitation.mp3" type='audio/mpeg; codecs="mp3"' id="example_song"></audio>
	<audio src="../audio/missednotes_1_loud.wav" id="missed_1"></audio>
	<audio src="../audio/missednotes_2_loud.wav" id="missed_2"></audio>
	<audio src="../audio/missednotes_3_loud.wav" id="missed_3"></audio>
	Guitar model by: hairok from Blend Swap<br>
	Guitar amp background rendered from model by weeklyblend from Blend Swap<br>
	Song: Blind Architect - Kansas City Decapitation
</body>
</html>
